.categories-container {
  .content {
    header {
      padding: 10px 0;
    }
    section {
      border-top: 1px solid #eee;
      padding: 3px 0;
      &:last-child{
        border-bottom: 1px solid #eee;
      }
      .image {
        .img {
          width: 50px;
        }
      }
      .icons {
        display: flex;
        font-size: 20px;
        .edit{
          color: rgba(255, 127, 44, 1);
          cursor: pointer;
        }
        .delete{
          color: red;
          margin-left: 15px;
          cursor: pointer;
        }
      }
    }
  }
}
